:root {
  --main-font: 'Roboto Mono', monospace;
  --main-font-style: normal;
  --main-font-size: 14px;
  --main-font-weight: 400;
  --main-line-height: 20px;
  --color-yellow: #e1b83a;
  --color-light-yellow: #ffd864;
  --color-white: #f7f7f7;
  --color-black: #242324;
  --color-dark-grey: #2b3640;
  --color-light-grey: #b1b0b0;
  --color-brown: #655e54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 490px;
  min-height: 100vh;
  background-color: #ffffff;
}

/* .body-shadow {
  box-shadow: 0 0 10px rgba(35,36,35,0.5)
} */

.main-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.inf-container {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  min-height: 55px;
  /* margin-top: 10px; */
  background-color: var(--color-black);
}

.header__nav {
  min-height: 55px;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  list-style: none;
}

.nav__link {
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  color: var(--color-white);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 14px;
  bottom: -3px;
  width: calc(100% - 29px);
  height: 2.5px;
  background-color: var(--color-white);
  opacity: 0;
  transition: .5s;
}

.nav__link:hover::after {
  opacity: 1;
  animation-name: progress-bar;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes progress-bar {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 29px);
  }
}

.author {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-yellow);
}

.author__img {
  flex-basis: 33.33%;
  min-width: 210px;
  padding: 0 15px;
}

.author__img_size {
  width: 100%;
  margin-top: 45px;
  margin-bottom: -4px;
}
.author__name {
  flex-basis: 66.66%;
  min-width: 240px;
  padding: 0 45px;
}

.author-name__h1_font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 3em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.author-name__span_style {
  max-width: 230px;
  padding: 5px 25px 5px 15px;
  background-color: var(--color-light-yellow);
}

.author-name__span_font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1em;
  font-weight: 700;
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
}

.information {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -1px;
}

.information__left-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 34.13%;
  padding: 45px 25px 30px 35px;
}

.information__left-block_bg-color {
  background-color: var(--color-black);
}

.information__profile {
  padding-bottom: 35px;
}

.information__profile_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__profile_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__profile_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information__profile_p-font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: justify;
  color: var(--color-white);
}

.information__skills {
  padding-bottom: 35px;
}

.information__skills_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__skills_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__skills_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information_skills_display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.skills__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
}

.skills__list_style {
  color: var(--color-white);
}

.skills__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: left;
  color: var(--color-white);
}

.skills__progress-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
  flex-basis: 70%;
}

.skills__progress-list_html {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_html-lvl {
  width: 65%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_css {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_css-lvl {
  width: 45%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_github {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_github-lvl {
  width: 50%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_git {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_git-lvl {
  width: 45%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_vscode {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_vscode-lvl {
  width: 65%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.information__education {
  padding-bottom: 35px;
}

.information__education_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__education_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__education_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information_education_display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.information__languages {
  padding-bottom: 35px;
}

.information__languages_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__languages_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__languages_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.languages__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
}

.languages__list_style {
  color: var(--color-white);
}

.languages__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: left;
  color: var(--color-white);
}

.education__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.education__img-muctr_size {
  width: 27px;
  height: 48px;
}

.education__img-stepick_size {
  width: 27px;
  height: 27px;
}

.education__img-stepick_style {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--color-black);
  border-radius: 40%;
}

.education__list_style-padding {
  padding-left: 15px;
}

.education__list_style {
  text-decoration: none;
  color: var(--color-white);
}

.education__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  color: var(--color-white);
}

.information__right-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 65.87%;
  padding: 45px 65px 30px 45px;
} 

.information__right-block_bg-color {
  background-color: var(--color-white);
}

.information__contacts {
  padding-bottom: 35px;
}

.information__contacts_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__contacts_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__contacts_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.contacts_display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.contacts__left-block_display {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__right-block_display {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__left-block_display-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__right-block_display-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__left-block_display-li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--main-font-size);
  color: var(--color-dark-grey);
  list-style-type: none;
}

.contacts__right-block_display-li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--main-font-size);
  color: var(--color-dark-grey);
  list-style-type: none;
}

.contacts__icons_size {
  width: 30px;
}

.contacts__text_style {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
  text-decoration: none;
  transition: 0.4s;
}

.contacts__text_style:hover {
  color: var(--color-yellow);
}

.information__experience {
  padding-bottom: 35px;
}

.information__experience_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__experience_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__experience_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.experience_h3-style {
  position: relative;
  padding-bottom: 20px;
}

.experience_h3-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 2px;
  background-color: var(--color-light-yellow);
}

.experience_h3-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
}

.experience__img_overflow {
  width: 100%;
  overflow: hidden;
}

.experience__img_size {
  width: 100%;
}

.experience__img_style {
  padding-bottom: 15px;
  filter: brightness(60%);
  transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

.experience__img_style:hover {
  filter: brightness(100%);
  transform: scale(1.06);
}

.information__code {
  padding-bottom: 35px;
}

.information__code_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__code_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__code_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.information__code_style {
  background-color: var(--color-light-grey);
}

.code_yellow {
  color: #b89a21;
}

.code_green {
  color: #1f965e;
}

.code_red {
  color: #ac1733;
}

.code_blue {
  color: #19a5eb;
}

.scrollup {
  position: fixed;
  right: 15%;
  bottom: 24px;
  display: none;
  padding: 12px 16px; 
  color: var(--color-white);
  background-color: var(--color-yellow);
  opacity: 0.6;
  border-radius: 4px; 
  cursor: pointer; 
  text-align: center;
}

.scrollup:hover {
  opacity: 1;
}





























@media screen and (max-width: 780px) {
  .nav__list {
    justify-content: space-around;
  }
  
  .author__img {
    display: none;
    /* flex-basis: 100%; */
  }

  .author__name {
    flex-basis: 100%;
    padding: 0 45px 0 15px;
  }

  .author-name__span_style {
  margin-bottom: 10px;
  }

  .information__left-block {
    flex-basis: 100%;
  }

  .information__profile_h2-style {
    padding-bottom: 10px;
  }

  .information__profile_h2-style::after {
    bottom: 6px;
  }

  .information__right-block {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1450px) {
  .scrollup {
    right: 10%;
  }
}

@media screen and (max-width: 1270px) {
  .scrollup {
    right: 5%;
  }
}

@media screen and (max-width: 1130px) {
  .scrollup {
    right: 1%;
  }
}
