:root {
  --main-font: 'Roboto Mono', monospace;
  --main-font-style: normal;
  --main-font-size: 14px;
  --main-font-weight: 400;
  --main-line-height: 20px;
  --color-yellow: #e1b83a;
  --color-light-yellow: #ffd864;
  --color-white: #f7f7f7;
  --color-black: #242324;
  --color-dark-grey: #2b3640;
  --color-light-grey: #b1b0b0;
  --color-brown: #655e54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.inf-container {
  max-width: 1024px;
  margin: 0 auto;
}

/* ?Header */

.header {
  min-height: 55px;
  background-color: var(--color-black);
  transition: 0.5s;
}

.header__nav {
  min-height: 55px;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
  min-height: 55px;
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  list-style: none;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--color-white);
}

.nav__link::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -3px;
  width: 0;
  height: 2.5px;
  background-color: var(--color-white);
  transition: width ease-in-out 1s;
  z-index: 1;
}

.nav__link:hover::after {
  width: 100%;
  left: 0px;
  background-color: var(--color-white);
  transition: width ease-in-out 1s;
}

.header__nav_mobile {
  display: none;
}

.header__mobile-hamburger {
  display: none;
}

/* ?Author */

.author {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-yellow);
}

.author__img {
  flex-basis: 33.33%;
  min-width: 210px;
  padding: 0 15px;
  /* background-color: var(--color-black); */
}

.author__img_size {
  width: 100%;
  margin-top: 45px;
  margin-bottom: -4px;
}
.author__name {
  flex-basis: 66.66%;
  min-width: 240px;
  padding: 0 45px;
}

.author-name__h1_font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 3em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.author-name__span_style {
  max-width: 230px;
  padding: 5px 25px 5px 15px;
  background-color: var(--color-light-yellow);
}

.author-name__span_font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1em;
  font-weight: 700;
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
}

/* ?Information */

.information {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -1px;
}

.information__left-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 34.13%;
  padding: 45px 25px 30px 35px;
}

.information__left-block_bg-color {
  background-color: var(--color-black);
}

.information__profile {
  padding-bottom: 35px;
}

.information__profile_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__profile_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__profile_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information__profile_p-font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: justify;
  color: var(--color-white);
}

.information__skills {
  padding-bottom: 35px;
}

.information__skills_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__skills_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__skills_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information_skills_display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

/* ?Skills */

.skills__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
}

.skills__list_style {
  color: var(--color-white);
}

.skills__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: left;
  color: var(--color-white);
}

.skills__progress-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
  flex-basis: 70%;
}

.skills__progress-list_html,
.skills__progress-list_css,
.skills__progress-list_js,
.skills__progress-list_github,
.skills__progress-list_git,
.skills__progress-list_vscode {
  width: 100%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-grey);
}

.skills__progress-list_html-lvl {
  width: 65%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_css-lvl {
  width: 55%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_js-lvl {
  width: 45%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_github-lvl {
  width: 50%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_git-lvl {
  width: 45%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

.skills__progress-list_vscode-lvl {
  width: 65%;
  height: 12px;
  margin: 5px 0;
  background-color: var(--color-light-yellow);
}

/* ?Education */

.information__education {
  padding-bottom: 35px;
}

.information__education_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__education_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__education_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.information_education_display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

/* ?Languages */

.information__languages {
  padding-bottom: 35px;
}

.information__languages_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__languages_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__languages_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.languages__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  list-style: none;
}

.languages__list_style {
  color: var(--color-white);
}

.languages__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  text-align: left;
  color: var(--color-white);
}

/* ?Certificates */

.information__certificates {
  padding-bottom: 35px;
}

.information__certificates_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__certificates_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__certificates_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-white);
}

.certificates__img_overflow {
  width: 100%;
  overflow: hidden;
}

.certificates__img_size {
  width: 100%;
}

.certificates__img_style {
  padding-bottom: 15px;
  transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

.certificates__img_style:hover {
  transform: scale(1.06);
}

/* ?Education */

.education__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.education__img-muctr_size {
  width: 27px;
  height: 48px;
}

.education__img-stepik_size,
.education__img-rss_size {
  width: 27px;
  height: 27px;
}

.education__img-stepik_style {
  border: 1px solid var(--color-black);
  border-radius: 40%;
}

.education__list_style-padding {
  padding-left: 15px;
}

.education__list_style {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.4s;
}

.education__list_style:hover {
  color: var(--color-yellow);
}

.education__list_font {
  font-family: 'Roboto', sans-serif;
  font-style: var(--main-font-style);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 22px;
  color: var(--color-white);
}

/* ?Contacts */

.information__right-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 65.87%;
  padding: 45px 65px 30px 45px;
}

.information__right-block_bg-color {
  background-color: var(--color-white);
}

.information__contacts {
  padding-bottom: 35px;
}

.information__contacts_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__contacts_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__contacts_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.contacts_display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.contacts__left-block_display {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__right-block_display {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__left-block_display-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__right-block_display-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__left-block_display-li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--main-font-size);
  color: var(--color-dark-grey);
  list-style-type: none;
}

.contacts__right-block_display-li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--main-font-size);
  color: var(--color-dark-grey);
  list-style-type: none;
}

.contacts__icons_size {
  width: 30px;
}

.contacts__text_style {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
  text-decoration: none;
  transition: 0.4s;
}

.contacts__text_style:hover {
  color: var(--color-yellow);
}

/* ?Experience */

.information__experience {
  padding-bottom: 35px;
}

.information__experience_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__experience_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__experience_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.experience_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 5px;
}

.experience__item {
  border: none;
  filter: grayscale(1) brightness(0.6);
  transition: all .3s;
}

.experience__item:hover {
  filter: none;
}

.experience__link {
  color: var(--color-white);
  text-decoration: none;
  transition: .3s;
}

.experience_momentum {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.experience_travel {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}

.experience_codejam {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.experience_ubereats {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.experience_landing {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.experience__wrap {
  position: relative;
}

.experience__img_size-grid {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s;
}

.experience_description {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  text-align: center;
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  transition: opacity .3s;
}

.experience_description_show .experience_description {
  display: block;
  opacity: 1;
}

.experience_h3-style {
  position: relative;
  padding-bottom: 20px;
}

.experience_h3-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 2px;
  background-color: var(--color-light-yellow);
}

.experience_h3-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-dark-grey);
}

.experience__img_overflow {
  width: 100%;
  overflow: hidden;
}

.experience__img_size {
  width: 100%;
}

.experience__img_style {
  padding-bottom: 15px;
  filter: brightness(60%);
  transition: 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}

.experience__img_style:hover {
  filter: brightness(100%);
  transform: scale(1.06);
}

/* ?Code */

.information__code {
  padding-bottom: 35px;
}

.information__code_h2-style {
  position: relative;
  padding-bottom: 20px;
}

.information__code_h2-style::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 16px;
  width: 50px;
  height: 3px;
  background-color: var(--color-light-yellow);
}

.information__code_h2-font {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-dark-grey);
}

.information__code_style {
  background-color: var(--color-light-grey);
}

.code_yellow {
  color: #b89a21;
}

.code_green {
  color: #1f965e;
}

.code_red {
  color: #ac1733;
}

.code_blue {
  color: #19a5eb;
}

/* ?Footer */

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.footer_style {
  min-height: 55px;
  background-color: var(--color-black);
}

.footer__git_display,
.footer__rss_display {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.footer__icons_size {
  width: 30px;
}

.footer__text_style {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-white);
  text-decoration: none;
  transition: 0.4s;
}

.footer__text-created_style {
  font-family: var(--main-font);
  font-style: var(--main-font-style);
  font-size: 16px;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
}

.footer__text_style:hover {
  color: var(--color-yellow);
}

.footer__icons-rss_size {
  width: 55px;
}

/* ?Scroll */

.scrollup {
  position: fixed;
  right: 15%;
  bottom: 24px;
  display: none;
  padding: 12px 16px;
  color: var(--color-white);
  background-color: var(--color-yellow);
  opacity: 0.6;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
}

.scrollup_block {
  display: block;
  transition: 0.4s;
}

.scrollup:hover {
  opacity: 1;
}

